.add-option-error {
    color: $off-white;
    font-style: italic;
    margin-top: 1.6rem;
    padding: 0 $m-size;
}

.add-option {
    display: flex;
    padding: $m-size;
}

.add-option__input {
    flex-grow: 1;
    border: none;
    padding: $s-size;
    font-size: $m-size;
    border-radius: 3px;
    margin-right: 7px;
}