.option {
    display: flex;
    justify-content: space-between;
    padding: $m-size $m-size;
    border-bottom: 1px solid lighten($light-blue, 10%);
}

.option__text {
    word-break: break-all;
    margin: .5rem;
    color: #fff;
    text-align: justify;
    font-weight: 500;
    font-size: 1.8rem;
    margin-right: $l-size;
}